<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= title %></title>
    <link rel="stylesheet" href="/stylesheets/style.css" />
  </head>
  <body>
    <%- include("navbar") %>
    <div class="pageContainer">
      <h1 class="title" id="welcomeTitle"><%= title %></h1>
      <p class="welcomeHeading">Welcome to <%= title %></p>
      <p class="welcomeText">Organise your gardens</p>
      <div class="backLinkDiv">
        <a href="/planner/user/create" class="backLink">Create account</a>
        <a href="/planner/user/login" class="backLink">Log in</a>
      </div>
    </div>
  </body>
</html>
