<!DOCTYPE html>
<html lang="en">
  <% if (currentUser) { %>
    <head>
      <meta charset="UTF-8">
      <meta name="viewport" content="width=device-width, initial-scale=1.0">
      <title>Confirm log out</title>
      <link rel="stylesheet" href="/stylesheets/style.css" />
    </head>
    <body>
      <%- include("navbar") %>
      <div class="pageContainer">
        <h1 class="title">Are you sure you want to log out?</h1>
        <div class="logoutBtns">
          <a href="/planner/user/logout" class="logoutBtn">Log out</button>
            <a href="/planner/user/<%= currentUser.id %>/home" class="backLink">Go back</a>
        </div>
      </div>
    </body>
  <% } else { %>
    <%- include("pageNotFound") %>
  <% } %>
</html>